<html>
<head>
	<meta charset='utf-8'>
	<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
	<title>Commits</title>
	<link href="{{ url_for('static', filename='annotate.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript">
  function resizeIframe(obj){
     obj.style.height = 0;
     obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

</head>
<body>
	<table>
  <tr>

<th>
	<form class="form-inline" method="POST" action="{{ url_for('dbcommits') }}">
		<div style="display: none;">
		<select style="width: 100%;" name="commitselect" method="GET" action="/" onchange="this.form.submit();">
            <option value="{{commits[commitindex - 1]["URL"]}} - -1" selected>previous commit</option>
		</select>
		</div>
		<button type="submit" class="button">&#60;</button>
	</form>
</th>

<th style="width: 40%;">
<form style="width: 100%;" class="form-inline" method="POST" action="{{ url_for('dbcommits') }}">
	  <div style="width: 100%;" class="form-group">
		<div style="width: 100%;" class="input-group">
			<select style="width: 100%;" name="commitselect" method="GET" action="/" onchange="this.form.submit();">
			  {% for commit in commits %}
                {% if commit["URL"] == commitselect %}
                <option value="{{commit["URL"]}} - -1" selected>{{commit["INFO"]}}</option>
                {% else %}
                <option value="{{commit["URL"]}} - -1">{{commit["INFO"]}}</option>
                {% endif %}
			  {% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-default" style="display: none;">Go</button>
	  </div>
	</form>
</th>
  {% set commitclasses = ['Example usage', 'Write me this code', 'Improve this code', 'Fix this issue', 'Explain this code', 'Other'] %}
<th>
	<form class="form-inline" method="POST" action="{{ url_for('dbcommits') }}">
		<div style="display: none;">
		<select style="width: 100%;" name="commitselect" method="GET" action="/" onchange="this.form.submit();">
            <option value="{{commits[commitindex + 1]["URL"]}} - -1" selected>previous commit</option>
		</select>
		</div>
		<button type="submit" class="button">&#62;</button>
	</form>
</th>

<th>
	<span>{{ commitclasses[commitannotation] }}</span>
</th>


{% for commitclass in commitclasses %}
<th>
	{% if commitselect %}
	  {% set commit = commits[commitindex] %}
	<form class="form-inline" method="POST" action="{{ url_for('dbcommits') }}">
		<div style="display: none;">
		<select style="width: 100%;" name="commitselect" method="GET" action="/" onchange="this.form.submit();">
            <option value="{{commit["URL"]}} - {{loop.index - 1}}" selected>{{commitclass}}</option>
		</select>
		</div>
		<button type="submit" class="button">{{commitclass}}</button>
	</form>
	{% endif %}
</th>
{% endfor %}

	</table>
  </tr>
	{% if commitselect %}
	  {% set commit = commits[commitindex] %}
		  <span style="font-weight: bold;">Commit url: </span>
		  <span><a href="{{commit["URL"]}}" target="_blank">{{commit["URL"]}}</a></span>
		  <br/>
	  <hr/>
		  <span style="font-weight: bold;">ChatGPT url: </span>
		  <span><a href="{{commit["ChatgptSharing"][0]["URL"]}}" target="_blank">{{commit["ChatgptSharing"][0]["URL"]}}</a></span>
		  <br/>
	  <hr/>
	      <div>{{commit["ChatgptSharing"][0]["HTMLContent"] | safe}}</div>
	{% endif %}
</body>
